@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: garamond;
    color: #a06881;
}

.design-names {
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.design-images {
  float: left;
  width:  400px;
  height: 350px;
  object-fit: cover;
  border-radius: 5px;
  margin: 10px;
}

.design-text {
  text-align: center;
}

.navbar-links {
  color:#a06881;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: white;
}

.copy-btn {
  background-color: #565264;
  border: #565264;
}

.form-btn {
  background-color: #565264;
  border: #565264;
}

.cards {
  padding: 5px 10px;
  margin: 20px;
}

.navbar {
  padding: 14px 16px;
  margin: 10px;
  text-align: center;
}
